<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\Tweet[]|\Cake\Collection\CollectionInterface $tweets
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('New Tweet'), ['action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Users'), ['controller' => 'Users', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New User'), ['controller' => 'Users', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Comments'), ['controller' => 'Comments', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Comment'), ['controller' => 'Comments', 'action' => 'add']) ?></li>
        <li><?= $this->Html->link(__('List Likes'), ['controller' => 'Likes', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Like'), ['controller' => 'Likes', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="tweets index large-9 medium-8 columns content">
    <h3><?= __('Tweets') ?></h3>
    <table cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th scope="col"><?= $this->Paginator->sort('id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('content') ?></th>
                <th scope="col"><?= $this->Paginator->sort('picture') ?></th>
                <th scope="col"><?= $this->Paginator->sort('retweet_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('retweet_user_id') ?></th>
                <th scope="col"><?= $this->Paginator->sort('retweet_user_content') ?></th>
                <th scope="col"><?= $this->Paginator->sort('retweet_user_picture') ?></th>
                <th scope="col"><?= $this->Paginator->sort('created') ?></th>
                <th scope="col"><?= $this->Paginator->sort('modified') ?></th>
                <th scope="col"><?= $this->Paginator->sort('deleted') ?></th>
                <th scope="col" class="actions"><?= __('Actions') ?></th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($tweets as $tweet): ?>
            <tr>
                <td><?= $this->Number->format($tweet->id) ?></td>
                <td><?= $tweet->has('user') ? $this->Html->link($tweet->user->name, ['controller' => 'Users', 'action' => 'view', $tweet->user->id]) : '' ?></td>
                <td><?= h($tweet->content) ?></td>
                <td><?= h($tweet->picture) ?></td>
                <td><?= $this->Number->format($tweet->retweet_id) ?></td>
                <td><?= $this->Number->format($tweet->retweet_user_id) ?></td>
                <td><?= $this->Number->format($tweet->retweet_user_content) ?></td>
                <td><?= $this->Number->format($tweet->retweet_user_picture) ?></td>
                <td><?= h($tweet->created) ?></td>
                <td><?= h($tweet->modified) ?></td>
                <td><?= h($tweet->deleted) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['action' => 'view', $tweet->id]) ?>
                    <?= $this->Html->link(__('Edit'), ['action' => 'edit', $tweet->id]) ?>
                    <?= $this->Form->postLink(__('Delete'), ['action' => 'delete', $tweet->id], ['confirm' => __('Are you sure you want to delete # {0}?', $tweet->id)]) ?>
                </td>
            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
    <div class="paginator">
        <ul class="pagination">
            <?= $this->Paginator->first('<< ' . __('first')) ?>
            <?= $this->Paginator->prev('< ' . __('previous')) ?>
            <?= $this->Paginator->numbers() ?>
            <?= $this->Paginator->next(__('next') . ' >') ?>
            <?= $this->Paginator->last(__('last') . ' >>') ?>
        </ul>
        <p><?= $this->Paginator->counter(['format' => __('Page {{page}} of {{pages}}, showing {{current}} record(s) out of {{count}} total')]) ?></p>
    </div>
</div>
