<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(25, 181, 252)">
  <a class="navbar-brand" href="<?php echo $url ?>users/dashboard">Microblog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" style="display: none">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style="display: none">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown" style="display: none">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="display: none">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" style="display: none">Disabled</a>
      </li>
    </ul>

    <div>
      <i class="fas fa-search" aria-hidden="true"></i>
    </div>
    <?php
      echo $this->Form->create('search', array(
        'class' => 'form-inline my-2 my-lg-0',
        'type' => 'GET',
        'url' => '/pages/search_result'
      ));
      echo $this->Form->control('search', array(
        'label' => false,
        'class' => 'form-control mr-sm-2',
        'type' => 'search',
        'placeholder' => 'Search',
        'value' => isset($_GET['search']) ? $_GET['search'] : '', 
        'aria-label' => 'Search',
        'escape' => false
      ));
    ?>
    <?= $this->Form->end() ?>

    <form class="form-inline my-2 my-lg-0">
        <a href="<?php echo $url ?>logout" class="btn btn-info btn-md">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>
      </p>
    </form>
  </div>
</nav>